# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/code/src/array/.vscode
/code/src/array/build
*.zip
/code/src/array/src/SFML-2.6.1
/code/src/graph_algorithms/dijkstra_shortest_path_algorithm/build
/code/src/graph_algorithms/dijkstra_shortest_path_algorithm/out
